@{
    ViewData["Title"] = "Agnieszka Osypanka";
}

<body>
    <main>
        <section class="about" id="about">
            <div class="row">

                <div class="images">
                    <img src="~/images/dla Natalii.png" class="women">
                    <img src="~/images/admin-ajax3.jpg" class="obraz">
                </div>

                <div class="content">
                    <p>
                        Ukończyłam studia na Wydziale Architektury Wnętrz w krakowskiej Akademii Sztuk Pięknych. Dyplom uzyskałam w 1996 roku, w Pracowni Projektowania Wnętrz prof. Barbary Borkowskiej -Larysz. Okres studiów był kontynuacją plastycznych zainteresowań, które wcześniej rozwijałam w Liceum Sztuk Plastycznych w Rzeszowie.

                        Po studiach zdobywałam doświadczenie zawodowe w pracowni architektonicznej Archicomp i w firmie budowlanej. Swoją własną działalność rozpoczęłam w w 2001 roku otwierając Studio Projektowania Wnętrz AKWADRAT. .
                    </p>
                
                </div>

            </div>

        </section>
        
    </main>
    <script src="~/js/site.js"></script>
</body>
