@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
	<table border=1>
		<thead>
			<tr>
				<th>assembly.name</th>
				<th>members.member.0.summary</th>
				<th>members.member.0._name</th>
				<th>members.member.1.summary</th>
				<th>members.member.1.returns</th>
				<th>members.member.1._name</th>
				<th>members.member.2.summary</th>
				<th>members.member.2.param._name</th>
				<th>members.member.2.param.__text</th>
				<th>members.member.2.param.toString</th>
				<th>members.member.2.returns</th>
				<th>members.member.2._name</th>
				<th>members.member.3.summary</th>
				<th>members.member.3.returns</th>
				<th>members.member.3._name</th>
				<th>members.member.4.summary</th>
				<th>members.member.4.param._name</th>
				<th>members.member.4.param.__text</th>
				<th>members.member.4.param.toString</th>
				<th>members.member.4.returns</th>
				<th>members.member.4._name</th>
				<th>members.member.5.summary</th>
				<th>members.member.5.param._name</th>
				<th>members.member.5.param.__text</th>
				<th>members.member.5.param.toString</th>
				<th>members.member.5.returns</th>
				<th>members.member.5._name</th>
				<th>members.member.6.summary</th>
				<th>members.member.6.param.0._name</th>
				<th>members.member.6.param.0.__text</th>
				<th>members.member.6.param.0.toString</th>
				<th>members.member.6.param.1._name</th>
				<th>members.member.6.param.1.__text</th>
				<th>members.member.6.param.1.toString</th>
				<th>members.member.6.returns</th>
				<th>members.member.6._name</th>
				<th>members.member.7.summary</th>
				<th>members.member.7.param._name</th>
				<th>members.member.7.param.__text</th>
				<th>members.member.7.param.toString</th>
				<th>members.member.7.returns</th>
				<th>members.member.7._name</th>
				<th>members.member.8.summary</th>
				<th>members.member.8.param._name</th>
				<th>members.member.8.param.__text</th>
				<th>members.member.8.param.toString</th>
				<th>members.member.8.returns</th>
				<th>members.member.8._name</th>
				<th>members.member.9.summary</th>
				<th>members.member.9._name</th>
				<th>members.member.10.summary</th>
				<th>members.member.10.returns</th>
				<th>members.member.10._name</th>
				<th>members.member.11.summary</th>
				<th>members.member.11.param._name</th>
				<th>members.member.11.param.__text</th>
				<th>members.member.11.param.toString</th>
				<th>members.member.11.returns</th>
				<th>members.member.11._name</th>
				<th>members.member.12.summary</th>
				<th>members.member.12.returns</th>
				<th>members.member.12._name</th>
				<th>members.member.13.summary</th>
				<th>members.member.13.param._name</th>
				<th>members.member.13.param.__text</th>
				<th>members.member.13.param.toString</th>
				<th>members.member.13.returns</th>
				<th>members.member.13._name</th>
				<th>members.member.14.summary</th>
				<th>members.member.14.param._name</th>
				<th>members.member.14.param.__text</th>
				<th>members.member.14.param.toString</th>
				<th>members.member.14.returns</th>
				<th>members.member.14._name</th>
				<th>members.member.15.summary</th>
				<th>members.member.15.param.0._name</th>
				<th>members.member.15.param.0.__text</th>
				<th>members.member.15.param.0.toString</th>
				<th>members.member.15.param.1._name</th>
				<th>members.member.15.param.1.__text</th>
				<th>members.member.15.param.1.toString</th>
				<th>members.member.15.returns</th>
				<th>members.member.15._name</th>
				<th>members.member.16.summary</th>
				<th>members.member.16.param._name</th>
				<th>members.member.16.param.__text</th>
				<th>members.member.16.param.toString</th>
				<th>members.member.16.returns</th>
				<th>members.member.16._name</th>
				<th>members.member.17.summary</th>
				<th>members.member.17.param._name</th>
				<th>members.member.17.param.__text</th>
				<th>members.member.17.param.toString</th>
				<th>members.member.17.returns</th>
				<th>members.member.17._name</th>
				<th>members.member.18.summary</th>
				<th>members.member.18._name</th>
				<th>members.member.19.summary</th>
				<th>members.member.19.returns</th>
				<th>members.member.19._name</th>
				<th>members.member.20.summary</th>
				<th>members.member.20.returns</th>
				<th>members.member.20._name</th>
				<th>members.member.21.summary</th>
				<th>members.member.21.returns</th>
				<th>members.member.21._name</th>
				<th>members.member.22.summary</th>
				<th>members.member.22.returns</th>
				<th>members.member.22._name</th>
				<th>members.member.23.summary</th>
				<th>members.member.23.returns</th>
				<th>members.member.23._name</th>
				<th>members.member.24.summary</th>
				<th>members.member.24.returns</th>
				<th>members.member.24._name</th>
				<th>members.member.25.summary</th>
				<th>members.member.25.returns</th>
				<th>members.member.25._name</th>
				<th>members.member.26.summary</th>
				<th>members.member.26.returns</th>
				<th>members.member.26._name</th>
				<th>members.member.27.summary</th>
				<th>members.member.27.returns</th>
				<th>members.member.27._name</th>
				<th>members.member.28.summary</th>
				<th>members.member.28._name</th>
				<th>members.member.29.summary</th>
				<th>members.member.29.returns</th>
				<th>members.member.29._name</th>
				<th>members.member.30.summary</th>
				<th>members.member.30.param._name</th>
				<th>members.member.30.param.__text</th>
				<th>members.member.30.param.toString</th>
				<th>members.member.30.returns</th>
				<th>members.member.30._name</th>
				<th>members.member.31.summary</th>
				<th>members.member.31.returns</th>
				<th>members.member.31._name</th>
				<th>members.member.32.summary</th>
				<th>members.member.32.param._name</th>
				<th>members.member.32.param.__text</th>
				<th>members.member.32.param.toString</th>
				<th>members.member.32.returns</th>
				<th>members.member.32._name</th>
				<th>members.member.33.summary</th>
				<th>members.member.33.param._name</th>
				<th>members.member.33.param.__text</th>
				<th>members.member.33.param.toString</th>
				<th>members.member.33.returns</th>
				<th>members.member.33._name</th>
				<th>members.member.34.summary</th>
				<th>members.member.34.param.0._name</th>
				<th>members.member.34.param.0.__text</th>
				<th>members.member.34.param.0.toString</th>
				<th>members.member.34.param.1._name</th>
				<th>members.member.34.param.1.__text</th>
				<th>members.member.34.param.1.toString</th>
				<th>members.member.34.returns</th>
				<th>members.member.34._name</th>
				<th>members.member.35.summary</th>
				<th>members.member.35.param._name</th>
				<th>members.member.35.param.__text</th>
				<th>members.member.35.param.toString</th>
				<th>members.member.35.returns</th>
				<th>members.member.35._name</th>
				<th>members.member.36.summary</th>
				<th>members.member.36.param._name</th>
				<th>members.member.36.param.__text</th>
				<th>members.member.36.param.toString</th>
				<th>members.member.36.returns</th>
				<th>members.member.36._name</th>
				<th>members.member.37.summary</th>
				<th>members.member.37.returns</th>
				<th>members.member.37._name</th>
				<th>members.member.38.summary</th>
				<th>members.member.38.param._name</th>
				<th>members.member.38.param.__text</th>
				<th>members.member.38.param.toString</th>
				<th>members.member.38.returns</th>
				<th>members.member.38._name</th>
				<th>members.member.39.summary</th>
				<th>members.member.39.returns</th>
				<th>members.member.39._name</th>
				<th>members.member.40.summary</th>
				<th>members.member.40.param._name</th>
				<th>members.member.40.param.__text</th>
				<th>members.member.40.param.toString</th>
				<th>members.member.40.returns</th>
				<th>members.member.40._name</th>
				<th>members.member.41.summary</th>
				<th>members.member.41.param._name</th>
				<th>members.member.41.param.__text</th>
				<th>members.member.41.param.toString</th>
				<th>members.member.41.returns</th>
				<th>members.member.41._name</th>
				<th>members.member.42.summary</th>
				<th>members.member.42.param.0._name</th>
				<th>members.member.42.param.0.__text</th>
				<th>members.member.42.param.0.toString</th>
				<th>members.member.42.param.1._name</th>
				<th>members.member.42.param.1.__text</th>
				<th>members.member.42.param.1.toString</th>
				<th>members.member.42.returns</th>
				<th>members.member.42._name</th>
				<th>members.member.43.summary</th>
				<th>members.member.43.param._name</th>
				<th>members.member.43.param.__text</th>
				<th>members.member.43.param.toString</th>
				<th>members.member.43.returns</th>
				<th>members.member.43._name</th>
				<th>members.member.44.summary</th>
				<th>members.member.44.param._name</th>
				<th>members.member.44.param.__text</th>
				<th>members.member.44.param.toString</th>
				<th>members.member.44.returns</th>
				<th>members.member.44._name</th>
				<th>members.member.45.summary</th>
				<th>members.member.45.returns</th>
				<th>members.member.45._name</th>
				<th>members.member.46.inheritdoc</th>
				<th>members.member.46._name</th>
				<th>members.member.47.inheritdoc</th>
				<th>members.member.47._name</th>
				<th>members.member.48.inheritdoc</th>
				<th>members.member.48._name</th>
				<th>members.member.49.inheritdoc</th>
				<th>members.member.49._name</th>
				<th>members.member.50.inheritdoc</th>
				<th>members.member.50._name</th>
				<th>members.member.51.inheritdoc</th>
				<th>members.member.51._name</th>
				<th>members.member.52.inheritdoc</th>
				<th>members.member.52._name</th>
				<th>members.member.53.inheritdoc</th>
				<th>members.member.53._name</th>
				<th>members.member.54.summary</th>
				<th>members.member.54._name</th>
				<th>members.member.55.summary</th>
				<th>members.member.55._name</th>
				<th>members.member.56.summary</th>
				<th>members.member.56._name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>AkwadratDesign</td>
				<td>Kontroler obsługujący zarządzanie klientami.</td>
				<td>T:AkwadratDesign.Controllers.ClientsController</td>
				<td>Akcja wyświetlająca listę klientów.</td>
				<td>Widok zawierający listę klientów.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Index</td>
				<td>Akcja wyświetlająca szczegóły klienta o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator klienta.</td>
				<td></td>
				<td>Widok zawierający szczegóły klienta.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Details(System.Nullable{System.Int32})</td>
				<td>Akcja wyświetlająca formularz do tworzenia nowego klienta.</td>
				<td>Widok zawierający formularz do tworzenia nowego klienta.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Create</td>
				<td>Akcja obsługująca tworzenie nowego klienta.</td>
				<td>client</td>
				<td>Nowy klient do dodania.</td>
				<td></td>
				<td>Przekierowanie do widoku listy klientów po pomyślnym dodaniu klienta.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Create(AkwadratDesign.Models.DbModels.Client)</td>
				<td>Akcja wyświetlająca formularz do edycji danych klienta o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator klienta.</td>
				<td></td>
				<td>Widok zawierający formularz do edycji danych klienta.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Edit(System.Nullable{System.Int32})</td>
				<td>Akcja obsługująca zapis edytowanych danych klienta.</td>
				<td>id</td>
				<td>Identyfikator klienta.</td>
				<td></td>
				<td>client</td>
				<td>Edytowany klient.</td>
				<td></td>
				<td>Przekierowanie do widoku listy klientów po pomyślnym zapisie zmian.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Edit(System.Int32,AkwadratDesign.Models.DbModels.Client)</td>
				<td>Akcja wyświetlająca formularz potwierdzenia usunięcia klienta o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator klienta.</td>
				<td></td>
				<td>Widok zawierający formularz potwierdzenia usunięcia klienta.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.Delete(System.Nullable{System.Int32})</td>
				<td>Akcja obsługująca usunięcie klienta o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator klienta.</td>
				<td></td>
				<td>Przekierowanie do widoku listy klientów po pomyślnym usunięciu klienta.</td>
				<td>M:AkwadratDesign.Controllers.ClientsController.DeleteConfirmed(System.Int32)</td>
				<td>Kontroler obsługujący zarządzanie firmami.</td>
				<td>T:AkwadratDesign.Controllers.FirmsController</td>
				<td>Akcja wyświetlająca listę firm.</td>
				<td>Widok zawierający listę firm.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Index</td>
				<td>Akcja wyświetlająca szczegóły firmy o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator firmy.</td>
				<td></td>
				<td>Widok zawierający szczegóły firmy.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Details(System.Nullable{System.Int32})</td>
				<td>Akcja wyświetlająca formularz do tworzenia nowej firmy.</td>
				<td>Widok zawierający formularz do tworzenia nowej firmy.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Create</td>
				<td>Akcja obsługująca tworzenie nowej firmy.</td>
				<td>firm</td>
				<td>Nowa firma do dodania.</td>
				<td></td>
				<td>Przekierowanie do widoku listy firm po pomyślnym dodaniu firmy.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Create(AkwadratDesign.Models.DbModels.Firm)</td>
				<td>Akcja wyświetlająca formularz do edycji danych firmy o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator firmy.</td>
				<td></td>
				<td>Widok zawierający formularz do edycji danych firmy.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Edit(System.Nullable{System.Int32})</td>
				<td>Akcja obsługująca zapis edytowanych danych firmy.</td>
				<td>id</td>
				<td>Identyfikator firmy.</td>
				<td></td>
				<td>firm</td>
				<td>Edytowana firma.</td>
				<td></td>
				<td>Przekierowanie do widoku listy firm po pomyślnym zapisie zmian.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Edit(System.Int32,AkwadratDesign.Models.DbModels.Firm)</td>
				<td>Akcja wyświetlająca formularz potwierdzenia usunięcia firmy o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator firmy.</td>
				<td></td>
				<td>Widok zawierający formularz potwierdzenia usunięcia firmy.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.Delete(System.Nullable{System.Int32})</td>
				<td>Akcja obsługująca usunięcie firmy o podanym identyfikatorze.</td>
				<td>id</td>
				<td>Identyfikator firmy.</td>
				<td></td>
				<td>Przekierowanie do widoku listy firm po pomyślnym usunięciu firmy.</td>
				<td>M:AkwadratDesign.Controllers.FirmsController.DeleteConfirmed(System.Int32)</td>
				<td>Kontroler obsługujący stronę główną i inne podstrony.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.#ctor(Microsoft.Extensions.Logging.ILogger{AkwadratDesign.Controllers.HomeController})</td>
				<td>Metoda obsługuje żądanie GET na adres /Home/Index.</td>
				<td>Zwraca widok domyślny dla strony głównej.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Index</td>
				<td>Metoda obsługuje żądanie GET na adres /agnieszka-osypanka/.</td>
				<td>Zwraca widok z informacjami o Agnieszce Osypance-architektce.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.About</td>
				<td>Metoda obsługuje żądanie GET na adres /kontakt/.</td>
				<td>Zwraca widok z formularzem kontaktowym.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Contact</td>
				<td>Metoda obsługuje żądanie GET na adres /wspolpraca/.</td>
				<td>Zwraca widok z informacjami o współpracy.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Collaborations</td>
				<td>Metoda obsługuje żądanie GET na adres /realizacje/.</td>
				<td>Zwraca widok z portfolio realizacji.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Portfolio</td>
				<td>Metoda obsługuje żądanie GET na adres /admin.</td>
				<td>Zwraca widok panelu administracyjnego.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Admin</td>
				<td>Metoda obsługuje żądanie GET na adres /admin-panel.</td>
				<td>Wymaga wcześniejszego uwierzytelnienia użytkownika. Zwraca widok panelu administracyjnego.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.AdminPanel</td>
				<td>Metoda obsługuje żądanie GET na adres /polityka-prywatnosci/.</td>
				<td>Zwraca widok z polityką prywatności.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Privacy</td>
				<td>Metoda obsługuje żądanie GET na adres /Home/Error.</td>
				<td>Zwraca widok z informacją o błędzie. Przekazuje identyfikator błędu do widoku.</td>
				<td>M:AkwadratDesign.Controllers.HomeController.Doc</td>
				<td>Kontroler obsługujący operacje na danych dotyczących firm projektowych.</td>
				<td>T:AkwadratDesign.Controllers.ProjectFirmsController</td>
				<td>Metoda obsługuje żądanie GET na adres /ProjectFirms/Index.</td>
				<td>Zwraca widok z listą firm projektowych.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Index</td>
				<td>Metoda obsługuje żądanie GET na adres /ProjectFirms/Details/5.</td>
				<td>id</td>
				<td>Identyfikator firmy projektowej.</td>
				<td></td>
				<td>Zwraca widok z informacjami szczegółowymi o firmie projektowej o podanym identyfikatorze.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Details(System.Nullable{System.Int32})</td>
				<td>Metoda obsługuje żądanie GET na adres /ProjectFirms/Create.</td>
				<td>Zwraca widok do tworzenia nowej firmy projektowej.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Create</td>
				<td>Metoda obsługuje żądanie POST na adres /ProjectFirms/Create.</td>
				<td>projectFirm</td>
				<td>Nowa firma projektowa do utworzenia.</td>
				<td></td>
				<td>Jeśli zapisanie firmy projektowej powiedzie się, przekierowuje na stronę z listą firm projektowych. W przeciwnym razie zwraca widok z formularzem do poprawy danych.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Create(AkwadratDesign.Models.DbModels.ProjectFirm)</td>
				<td>Metoda obsługuje żądanie GET na adres /ProjectFirms/Edit/5.</td>
				<td>id</td>
				<td>Identyfikator firmy projektowej do edycji.</td>
				<td></td>
				<td>Zwraca widok edycji firmy projektowej o podanym identyfikatorze.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Edit(System.Nullable{System.Int32})</td>
				<td>Metoda obsługuje żądanie POST na adres /ProjectFirms/Edit/5.</td>
				<td>id</td>
				<td>Identyfikator firmy projektowej do edycji.</td>
				<td></td>
				<td>projectFirm</td>
				<td>Edytowana firma projektowa.</td>
				<td></td>
				<td>Jeśli edycja firmy projektowej powiedzie się, przekierowuje na stronę z listą firm projektowych. W przeciwnym razie zwraca widok z formularzem do poprawy danych.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Edit(System.Int32,AkwadratDesign.Models.DbModels.ProjectFirm)</td>
				<td>Metoda obsługuje żądanie GET na adres /ProjectFirms/Delete/5.</td>
				<td>id</td>
				<td>Identyfikator firmy projektowej do usunięcia.</td>
				<td></td>
				<td>Zwraca widok potwierdzenia usunięcia firmy projektowej o podanym identyfikatorze.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.Delete(System.Nullable{System.Int32})</td>
				<td>Metoda obsługuje żądanie POST na adres /ProjectFirms/Delete/5.</td>
				<td>id</td>
				<td>Identyfikator firmy projektowej do usunięcia.</td>
				<td></td>
				<td>Jeśli usunięcie firmy projektowej powiedzie się, przekierowuje na stronę z listą firm projektowych. W przeciwnym razie zwraca błąd.</td>
				<td>M:AkwadratDesign.Controllers.ProjectFirmsController.DeleteConfirmed(System.Int32)</td>
				<td>Metoda obsługuje żądanie GET na adres /Projects.</td>
				<td>Zwraca widok z listą projektów.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Index</td>
				<td>Metoda obsługuje żądanie GET na adres /Projects/Details/5.</td>
				<td>id</td>
				<td>Identyfikator projektu do wyświetlenia.</td>
				<td></td>
				<td>Zwraca widok szczegółów projektu o podanym identyfikatorze.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Details(System.Nullable{System.Int32})</td>
				<td>Metoda obsługuje żądanie GET na adres /Projects/Create.</td>
				<td>Zwraca widok do tworzenia nowego projektu.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Create</td>
				<td>Metoda obsługuje żądanie POST na adres /Projects/Create.</td>
				<td>project</td>
				<td>Nowy projekt do utworzenia.</td>
				<td></td>
				<td>Jeśli utworzenie projektu powiedzie się, przekierowuje na stronę z listą projektów. W przeciwnym razie zwraca widok z formularzem do poprawy danych.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Create(AkwadratDesign.Models.DbModels.Project)</td>
				<td>Metoda obsługuje żądanie GET na adres /Projects/Edit/5.</td>
				<td>id</td>
				<td>Identyfikator projektu do edycji.</td>
				<td></td>
				<td>Zwraca widok edycji projektu o podanym identyfikatorze.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Edit(System.Nullable{System.Int32})</td>
				<td>Metoda obsługuje żądanie POST na adres /Projects/Edit/5.</td>
				<td>id</td>
				<td>Identyfikator projektu do edycji.</td>
				<td></td>
				<td>project</td>
				<td>Edytowany projekt.</td>
				<td></td>
				<td>Jeśli edycja projektu powiedzie się, przekierowuje na stronę z listą projektów. W przeciwnym razie zwraca widok z formularzem do poprawy danych.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Edit(System.Int32,AkwadratDesign.Models.DbModels.Project)</td>
				<td>Metoda obsługuje żądanie GET na adres /Projects/Delete/5.</td>
				<td>id</td>
				<td>Identyfikator projektu do usunięcia.</td>
				<td></td>
				<td>Zwraca widok potwierdzenia usunięcia projektu o podanym identyfikatorze.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Delete(System.Nullable{System.Int32})</td>
				<td>Metoda obsługuje żądanie POST na adres /Projects/Delete/5.</td>
				<td>id</td>
				<td>Identyfikator projektu do usunięcia.</td>
				<td></td>
				<td>Jeśli usunięcie projektu powiedzie się, przekierowuje na stronę z listą projektów. W przeciwnym razie zwraca błąd.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.DeleteConfirmed(System.Int32)</td>
				<td>Metoda obsługuje żądanie GET na adres /Projects/Portfolio.</td>
				<td>Zwraca widok z listą projektów.</td>
				<td>M:AkwadratDesign.Controllers.ProjectsController.Portfolio</td>
				<td></td>
				<td>T:AkwadratDesign.Migrations.Initial</td>
				<td></td>
				<td>M:AkwadratDesign.Migrations.Initial.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)</td>
				<td></td>
				<td>M:AkwadratDesign.Migrations.Initial.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)</td>
				<td></td>
				<td>M:AkwadratDesign.Migrations.Initial.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)</td>
				<td></td>
				<td>T:AkwadratDesign.Migrations.upd</td>
				<td></td>
				<td>M:AkwadratDesign.Migrations.upd.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)</td>
				<td></td>
				<td>M:AkwadratDesign.Migrations.upd.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)</td>
				<td></td>
				<td>M:AkwadratDesign.Migrations.upd.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)</td>
				<td>
					Klasa: Client
					- Właściwość `ClientId` służy jako unikalny identyfikator dla klienta.
					- Właściwość `Name` przechowuje imię klienta.
					- Właściwość `Surname` przechowuje nazwisko klienta.
					- Właściwość `Email` przechowuje adres e-mail klienta.
					- Właściwość `Message` przechowuje wiadomość od klienta.
					- Właściwości `Name`, `Surname`, `Email` i `Message` są oznaczone jako `Required`, co oznacza, że muszą mieć wartość.
				</td>
				<td>T:AkwadratDesign.Models.DbModels.Client</td>
				<td>
					Klasa: Project
					- Właściwość `ProjectId` służy jako unikalny identyfikator dla projektu.
					- Właściwość `Title` przechowuje tytuł projektu.
					- Właściwość `Description` przechowuje opis projektu.
					- Właściwość `Image` przechowuje ścieżkę do obrazka projektu.
					- Właściwość `Type` określa typ projektu.
					- Właściwość `TypeClient` określa typ klienta projektu.
					- Właściwość `ClientId` jest kluczem obcym
					- Listy `ProjectFirms` i `Firms` przechowują powiązane obiekty firm projektowych i firm odpowiednio. (wynika z właściwości wiele do wielu)
				</td>
				<td>T:AkwadratDesign.Models.DbModels.Project</td>
				<td>
					Klasa: ProjectFirm
					- Klasa `ProjectFirm` reprezentuje powiązanie wiele do wielu między firmą (obiektem klasy `Firm`) a projektem (obiektem klasy `Project`).
					- Właściwość `FirmsId` przechowuje identyfikator firmy.
					- Właściwość `ProjectsId` przechowuje identyfikator projektu.
					- Właściwości `Firm` i `Project` są obiektami powiązanymi z tym powiązaniem.
					- Wartości domyślne dla właściwości `Firm` i `Project` to null!, co oznacza, że początkowo nie mają przypisanych żadnych wartości.
				</td>
				<td>T:AkwadratDesign.Models.DbModels.ProjectFirm</td>
			</tr>
			<tr>
				<td></td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
			</tr>
		</tbody>
	</table>
</body>
</html>