:root {
    --text: #fffff;
    --background: #ffffff;
    --site1: #9B8d6f;
    --site2: #D8CCC0;
    --after: #433c3c;
    --line_color: white;
    --back_color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: var(--text);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    background-color: var(--site2);
}



.button {
    position: relative;
    z-index: 0;
    width: 300px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    padding: 16px 32px;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all .3s ease;
}

.button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

    .button::before,
    .button::after,
    .button__text::before,
    .button__text::after {
        content: '';
        position: absolute;
        height: 3px;
        border-radius: 0px;
        background: var(--line_color);
        transition: all .5s ease;
    }

.button::before {
    top: 0;
    left: 54px;
    width: calc( 100% - 56px * 2 - 16px );
}

.button::after {
    top: 0;
    right: 54px;
    width: 8px;
}

.button__text::before {
    bottom: 0;
    right: 54px;
    width: calc( 100% - 56px * 2 - 16px );
}

.button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
}

.button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
}

    .button__line::before {
        content: '';
        position: absolute;
        top: 0;
        width: 150%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        border: solid 3px var(--line_color);
    }

    .button__line:nth-child(1),
    .button__line:nth-child(1)::before {
        left: 0;
    }

    .button__line:nth-child(2),
    .button__line:nth-child(2)::before {
        right: 0;
    }

.button:hover {
    letter-spacing: 6px;
}

    .button:hover::before,
    .button:hover .button__text::before {
        width: 8px;
    }

    .button:hover::after,
    .button:hover .button__text::after {
        width: calc( 100% - 56px * 2 - 16px );
    }



    .button:hover  {
        animation-fill-mode: forwards;
    }

.button:hover {
    animation-fill-mode: forwards;
}

.button:hover {
    animation-fill-mode: forwards;
}

.button:hover {
    animation-fill-mode: forwards;
}

.button:hover {
    animation-fill-mode: forwards;
}

.button:hover {
    animation-fill-mode: forwards;
}




img {
    max-width: 100%;
}

header {
    color: var(--background);
    position: fixed;
    top: 0;
    left: 0; right: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    height: 100px;
}
body{
    margin-top:100px;
    height: 100vh;
}

    header.is-hidden {
        opacity: 0;
        transition: opacity 0.3s ease-out;
        pointer-events: none;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        padding-top: 32px;
    }

        header .container .logo {
            display: flex;
            align-items: center;
        }
            header .container .logo a {
                color: white;
                text-decoration: none;
            }


    header img {
        width: 30px;
        height: 30px;
    }

    header h1 {
        padding-left: 10px;
        font-size: 30px;
        text-transform: uppercase;
    }

    header .container nav {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(6, auto);
    }

        header .container nav a {
            color: var(--background);
            text-decoration: none;
            font-size: 20px;
        }



section h2 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 32px;
    color: var(--text);
}

section .container {
    padding: 32px;
}


.services .container {
    padding: 64px auto;
    height: 100vh;
}

services .container .projects .container .projects-grid .project {
    height: 50vh;
}

.services-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

.service {
    background-color: var(--site2);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.img-box {
    display: block;
    width: 100%;
    border-bottom: var(--after) 4px solid;
}

    .img-box img {
        display: block;
        width: 100%;
        height: 128px;
        object-fit: cover;
    }

    /*PROJEKTY*/
.content {
    padding: 16px;
    text-align: center;
}

.projects .container {
    padding: 64px auto;
}

.projects-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 32px 0;
}



.project {
    background-image: url(../Images/lazienka1.jpg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

    .project .content {
        padding: 16px;
        background-color: var(--after);
        opacity: 0;
        transition: 0.4s;
    }

    .project:hover .content {
        opacity: 0.8;
    }

    .project .content h3 {
        color: var(--background);
        font-size: 24px;
        margin-bottom: 8px;
    }

    .project .content p {
        color: var(--background);
        font-size: 16px;
        margin-bottom: 8px;
    }

.center {
    text-align: center;
}
/*KONTAKT*/
.contact {
    background-color: var(--site2);
}

    .contact .container {
        padding: 64px auto;
        height: 100vh;
    }

        .contact .container h2 {
            color: var(--background);
        }

        .contact .container form {
            display: block;
            margin: 0 auto;
            max-width: 680px;
        }

            .contact .container form .form-element, .form-area {
                appearance: none;
                border: none;
                outline: none;
                background: none;
                display: block;
                width: 100%;
                background-color: var(--background);
                border-radius: 8px;
                padding: 16px;
                font-size: 20px;
            }

            .contact .container form .contact-grid {
                display: grid;
                margin: 0 0 16px 0;
                grid-gap: 16px;
                grid-template-columns: repeat(2, 1fr);
            }

                .contact .container form .contact-grid .form-area {
                    grid-column: span 2;
                }



/*ABOUT*/
.about {
    background-color: var(--site2);
    padding-bottom: 3rem;
}

.about .row {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    background-color: var(--site2);
    height: 100vh;
    color: var(--text);
}

    .about .row .image {
        flex: 1 1 40rem;
        padding: 2rem 0;
        text-align: center;
        width: 45%;
    }

        .about .row .image img {
            height: 100%;
            position: absolute;
            bottom: -10%;
           
            transform: translateX(-50%);
            transition: bottom 1s, left 1s;
        }

    .about .row .content {
        flex: 1 1 40rem;
        color: var(--text);
    }

        .about .row .content h3 {
            font-size: 5.5rem;
            color: #333;
        }

        .about .row .content p {
            color: var(--font);
            font-size: 1.5rem;
            padding-bottom: 1rem 0;
        }
    .about .row .image:hover .obraz {
        bottom: 40px;
    }

    .about .row .image:hover .women {
        right: 0.5%;
    }
    



footer {
    background-color: var(--site2);
    padding: 4px 0;
    color: var(--background);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    footer a {
        color: white;
        text-decoration: none;
    }



@media screen and (max-width: 1400px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        padding-left: 64px;
        padding-right: 64px;
    }

    banner .container h2 {
        font-size: 32px;
    }

    .banner .container h3 {
        font-size: 20px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header .container .logo h1 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    header .container .logo img {
        display: none;
    }

    .container h2 {
        text-align: center;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }
}
